<a href="https://colab.research.google.com/github/Aute0/prob_theory/blob/main/Th_Probe_hw3_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from math import factorial as fl

# сочетания
def combinations(k, n):
    return fl(n) / (fl(k) * fl(n - k))

### Задача №1

Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [ ]:
salaries = pd.Series([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150])

In [ ]:
median_ar = salaries.sum() / salaries.count()
median_ar

65.3

In [ ]:
median_round = np.sqrt(((salaries - median_ar) ** 2).sum() / salaries.count())
median_round

30.823854398825596

 Смещенная оценка дисперсии
 
 -![image007.jpg]()

In [ ]:
variance = ((salaries - median_ar) ** 2).sum() / salaries.count()
variance

950.11

Несмещенная оценка дисперсии

![index.png]()

In [ ]:
variance2 = ((salaries - median_ar) ** 2).sum() / (salaries.count() - 1)
variance2

1000.1157894736842

### Задача №2

В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

A11 - из 1 ящика вынули **2 белых** мяча

А12 - из 2 ящика вынули **1 белый** мяч

А21 - из 1 ящика вынули **1 белый** мяч

А22 - из 2 ящика вынули **2 белых** мяча

А31 - из 1 ящика вынули **0 белых** мячей

А32 - из 2 ящика вынули **три белых** мяча

А - из ящиков вынули **три белых мяча**

А = А11* А12 + А21* А22 + А31* А32

In [ ]:
PA11 = (fl(5) / (fl(2) * fl(5 - 2))) * (fl(3) / (fl(0) * fl(3 - 0))) / (fl(8) / (fl(2) * fl(8 - 2)))
PA12 = (fl(5) / (fl(1) * fl(5 - 1))) * (fl(7) / (fl(3) * fl(7 - 3))) / (fl(12) / (fl(4) * fl(12 - 4)))
PA21 = (fl(5) / (fl(1) * fl(5 - 1))) * (fl(3) / (fl(1) * fl(3 - 1))) / (fl(8) / (fl(2) * fl(8 - 2)))
PА22 = (fl(5) / (fl(2) * fl(5 - 2))) * (fl(7) / (fl(2) * fl(7 - 2))) / (fl(12) / (fl(4) * fl(12 - 4)))
PA31 = (fl(5) / (fl(0) * fl(5 - 0))) * (fl(3) / (fl(2) * fl(3 - 2))) / (fl(8) / (fl(2) * fl(8 - 2)))
PA32 = (fl(5) / (fl(3) * fl(5 - 3))) * (fl(7) / (fl(1) * fl(7 - 1))) / (fl(12) / (fl(4) * fl(12 - 4)))

In [ ]:
PA = PA11 * PA12 + PA21 * PА22 + PA31 * PA32
PA

0.3686868686868687

### Задача №3

На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

А - мишень поражена              | А1 - первый стрелок попал в цель

А2 - второй стрелок попал в цель | А3 - третий стрелок попал в цель

In [ ]:
PA = 1 / 3 * 0.9 + 1 / 3 * 0.8 + 1 / 3 * 0.6
PA

0.7666666666666666

In [ ]:
PA1 = 1 / 3 * 0.9 / PA
PA1

0.391304347826087

In [ ]:
PA2 = 1 / 3 * 0.8 / PA
PA2

0.3478260869565218

In [ ]:
PA3 = 1 / 3 * 0.6 / PA
PA3

0.2608695652173913

### Задача №4 

В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

А - Студент сдал первую сессию 

А1 - студент с факультета А | А2 - студент с факультета В | А3 - студент с факультета С

In [ ]:
PA = 1 / 4 * 0.8 + 1 / 4 * 0.7 + 2 / 4 * 0.9
PA

0.825

In [ ]:
PA1 = 1 / 4 * 0.8 / PA
PA1

0.24242424242424246

In [ ]:
PA2 = 1 / 4 * 0.7 / PA
PA2

0.21212121212121213

In [ ]:
PA3 = 2 / 4 * 0.9 / PA
PA3

0.5454545454545455

### Задача №5

Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

А - из строя вышли все детали

In [ ]:
PA = 0.1 * 0.2 * 0.25
PA

0.005000000000000001

1.   B1 - из строя вышли первая и вторая деталь, но не вышла третья
2.   B2 - из строя вышла первая и третья деталь, но не вышла вторая
3.   B3 - из строя вышла вторая и третья деталь, но не вышла первая

***В = B1 + B2 + B3*** -  из строя вышло только две детали

In [ ]:
PB = 0.1 * 0.2 * 0.75 + 0.1 * 0.8 * 0.25 + 0.9 * 0.2 * 0.25
PB

0.08000000000000002

C - из строя вышла хотя бы одна деталь

In [ ]:
PC = 1 - 0.9 * 0.8 * 0.75
PC

0.45999999999999996

1.   D1 - из строя вышла первая деталь
2.   D2 - из строя вышла вторая деталь
3.   D3 - из строя вышла третья деталь
4.   D - из строя вышла одна деталь

***Е = В + D*** - из строя вышло от одной до двух деталей

In [ ]:
PD = 0.9 * 0.2 * 0.25 + 0.1 * 0.8 * 0.25 + 0.1 * 0.2 * 0.75
PD

0.08

In [ ]:
PE = PB + PD
PE

0.16000000000000003